<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Switch_Backup_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <!--
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    -->
    <userSettings>
        <Switch_Backup_Manager.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>1896, 855</value>
            </setting>
            <setting name="Maximised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Minimised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SplitterDistanceVert" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="SplitterDistanceHor" serializeAs="String">
                <value>670</value>
            </setting>
            <setting name="LeftPanelVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BottomPanelVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDLCFilterEshop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowUpdatesFilterEShop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBaseGames" serializeAs="String">
                <value>True</value>
            </setting>
        </Switch_Backup_Manager.Properties.Settings>
    </userSettings>
</configuration>